@font-face {
    font-family: 'Frutiger';
    src: url('./fonts/Frutiger.ttf') format('truetype');
}

body{
    margin: 0;
    font-family: 'Frutiger', sans-serif;
    background-color: black;
}

#bgImage{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    -webkit-filter: blur(8px);

}

#container{
    background: linear-gradient(156deg,rgba(94, 201, 36, 0.451) 0%, rgba(87, 199, 133, 0.451) 50%, rgba(237, 221, 83, 0.451) 100%);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    padding-bottom: 20px;
    height: fit-content;
    margin-top: 5%;
    margin-bottom: 5%;
}

#pfpAndName{
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.205);
    border-radius: 50px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    padding-bottom: 10px;
    padding-top: 10px;
}

#space-between-pfpAndname{
    padding-top: 10px;
}

#pfp{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid;
    object-fit: cover;
    margin-top: 10px;
}

#name{
    margin: 10px;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.205);
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.3);
}

#aboutMeText{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.205);
    border-radius: 50px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.3);
}

#MyProjects{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.205), rgba(255, 255, 255, 0.1));
    border-radius: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}

#MyProjectsTitle{
    font-size: 30px;
    margin-bottom: 10px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.3);
    font-family: "frutiger", sans-serif;
}

iframe{
    width: 80%;
    height: 400px;
    border: 4px solid;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.ProjectName{
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.3);
    font-family: "frutiger", sans-serif;
    background-color: rgba(255, 255, 255, 0.369);
    border-radius: 5px;
    padding: 5px 10px;
}

.ProjectDescreption{
    font-size: 18px;
    margin-bottom: 15px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.3);
    font-family: "frutiger", sans-serif;
}


.ProjectContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(189, 208, 185, 0.205);
    border-radius: 50px;
    padding-bottom: 20px;
    width: 70%;
    transition:  0.3s ease;
}


#myAccountsContainer{
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.205), rgba(255, 255, 255, 0.1));
    border-radius: 50px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    transition: 1s ease;
}

#myAccountsTitle{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.3);
    font-family: "frutiger", sans-serif;
}

#myAccounts{
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.205);
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
}#githubIcon{
    width: 90px;
    height: 90px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

#discordIcon{
    width: 90px;
    height: 90px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

#MailIcon{
    width:90px;
    height: 90px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

#githubIcon:hover,#MailIcon:hover{
    transform: scale(1.15);
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
}


#discordIcon:hover{
    transform: scale(1.15);
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));

}



a, #aboutMeText ,#pfpAndName{
    transition: transform 1s ease;
}

a:hover, #aboutMeText:hover,#pfpAndName:hover{
    transform: scale(1.1);
}

#aboutMeText:hover, #pfpAndName:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border: solid rgba(255, 255, 255, 0.1);
}


.ProjectContainer:hover{
    transform: scale(1.02);
    border: solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#myAccountsContainer:hover{
    transform: scale(1.2);
    border: solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
    #container{
        width: 100%;
		height: 100%;
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 0;
    }

    #aboutMeText{
        width: 95%;
        font-size: 18px;
    }

    #name{
        font-size: 30px;
    }

    #pfp{
        width: 120px;
        height: 120px;
    }

    #aboutMeText{
        font-size: 16px;
        margin: 30px;
        padding: 15px;
        width: fit-content;
    }

    #MyProjects{
        width: 95%;
        padding: 15px;
        gap: 15px;
    }

    .ProjectContainer{
        width: 90%;
    }

    iframe{
        width: 100%;
        height: 300px;
    }

    .ProjectName{
        font-size: 20px;
    }
    
    .ProjectDescreption{
        font-size: 16px;
    }


    #myAccounts{
        gap: 10px;
    }

    #discordIcon, #githubIcon, #MailIcon{
        width: 50px;
        height:50px;
    }

    #myAccountsContainer{
        padding: 15px;
        width: 80%;
    }
}
